In [29]:
"Some lines of the code are under comments to avoid errors"

In [ ]:
#5.* Create a custom class for stacking the models (see a link with an example).
#It will take the models and a meta-model objects as inputs and have methods fit(), predict().
#https://github.com/Dyakonov/ml_hacks/blob/master/dj_stacking.ipynb (edited) 

#6.** Add a visualization method to you class that would compare the prediction of
#individual models with the model obtained by stacking

In [41]:
#1 Select in sales_train.csv the data with item_id 5822

import pandas as pd 
df = pd.read_csv("sales_train.csv") 
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [42]:
inputs = df.drop('item_id', axis = 'columns')

In [43]:
target = df['item_id']

In [44]:
#next part had an error

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
from sklearn.cluster import KMeans
#km = KMeans(n_clusters=5822).fit(df)

In [47]:
#2. Create a train/test split. For the test set take the sales for the last month

In [48]:
l_shop_id = LabelEncoder()
l_item_id = LabelEncoder()
l_item_price = LabelEncoder()
l_date =LabelEncoder()

In [49]:
inputs['shop_id_n'] = l_shop_id.fit_transform(inputs['shop_id'])
#inputs['item_id_n'] = l_item_id.fit_transform(inputs['item_id'])
inputs['item_price_n'] = l_item_price.fit_transform(inputs['item_price'])

In [51]:
inputs_n = inputs.drop(['shop_id','item_price'], axis = 'columns')
inputs_n

               date  date_block_num  item_cnt_day  shop_id_n  item_price_n
0        02.01.2013               0           1.0         59         11110
1        03.01.2013               0           1.0         25         10336
2        05.01.2013               0          -1.0         25         10336
3        06.01.2013               0           1.0         25         14575
4        15.01.2013               0           1.0         25         11730
5        10.01.2013               0           1.0         25          4497
6        02.01.2013               0           1.0         25          7022
7        04.01.2013               0           1.0         25          2865
8        11.01.2013               0           1.0         25          3820
9        03.01.2013               0           3.0         25          3820
10       03.01.2013               0           2.0         25          5278
11       05.01.2013               0           1.0         25          5278
12       07.01.2013               0           1.0         25          5278
13       08.01.2013               0           2.0         25          5278
14       10.01.2013               0           1.0         25          5278
15       11.01.2013               0           2.0         25          5278
16       13.01.2013               0           1.0         25          5278
17       16.01.2013               0           1.0         25          5278
18       26.01.2013               0           1.0         25          5278
19       27.01.2013               0           1.0         25          5278
20       09.01.2013               0           1.0         25          3508
21       16.01.2013               0           1.0         25          3820
22       27.01.2013               0           1.0         25          3820
23       27.01.2013               0           1.0         25          3508
24       29.01.2013               0           1.0         25          3508
25       27.01.2013               0           1.0         25         14543
26       06.01.2013               0           1.0         25         14572
27       26.01.2013               0           1.0         25          3820
28       02.01.2013               0           1.0         25          3820
29       06.01.2013               0           1.0         25         14374
...             ...             ...           ...        ...           ...
2935819  16.10.2015              33           1.0         25         14834
2935820  22.10.2015              33           1.0         25          9488
2935821  22.10.2015              33           1.0         25         10357
2935822  17.10.2015              33           1.0         25         16047
2935823  26.10.2015              33           1.0         25          3820
2935824  14.10.2015              33           1.0         25         11110
2935825  23.10.2015              33           1.0         25          3820
2935826  04.10.2015              33           1.0         25          7600
2935827  18.10.2015              33           1.0         25          4497
2935828  21.10.2015              33           1.0         25          6241
2935829  03.10.2015              33           1.0         25          7600
2935830  11.10.2015              33           1.0         25          3820
2935831  22.10.2015              33           1.0         25          3820
2935832  26.10.2015              33           1.0         25          3820
2935833  22.10.2015              33           1.0         25          4497
2935834  29.10.2015              33           1.0         25          3786
2935835  18.10.2015              33           1.0         25          4497
2935836  22.10.2015              33           1.0         25          4497
2935837  24.10.2015              33           1.0         25          3038
2935838  17.10.2015              33           1.0         25          4497
2935839  24.10.2015              33           1.0         25          5278
2935840  31.10.2015              33           1.0         25          3820
2935841  11.10.2015              33           1.0         25          4497
2935842  10.10.2015              33           1.0         25          8992
2935843  09.10.2015              33           1.0         25          3820
2935844  10.10.2015              33           1.0         25          3820
2935845  09.10.2015              33           1.0         25          3820
2935846  14.10.2015              33           1.0         25          4497
2935847  22.10.2015              33           1.0         25          3820
2935848  03.10.2015              33           1.0         25          3820

[2935849 rows x 5 columns]

In [53]:
#3. Fit a Decision Tree based model to predict the total number of sales of this product in the next month. 
#You can use ensembles.

#4. Train your model k times on different splits of the train set (cross-validate) 
#to find optimal parameters of the model (optimizing just one parameter is enough).

from sklearn import tree
model = tree.DecisionTreeClassifier
model.fit(inputs_n, target)
model.score(inputs_n,target)

'from sklearn import tree\nmodel = tree.DecisionTreeClassifier\nmodel.fit(inputs_n, target)\nmodel.score(inputs_n,target)'

In [27]:
#model.predict([[0, 25, 2552, 899.00, 1.0 ]])